asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
requests>=2.31.0
pathlib
ffmpeg-python
moviepy==1.0.3
lmstudio
huggingface-hub
transformers
torchaudio
torch
google-generativeai>=0.8.0
google-ai-generativelanguage>=0.6.9
pillow>=10.0.0
librosa>=0.10.0
numpy>=1.21.0